<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" defaultRedirect="logout.aspx"></customErrors>
    <httpRuntime maxRequestLength="1048576" />
  </system.web>
  <connectionStrings>
    <add name="tblbookingConn" connectionString="Data Source=103.21.58.193;Database=dbtable_booking;Uid=usrtbl_booking;pwd=jR1f?5n5;MultipleActiveResultSets=true;Min Pool Size=100;Max Pool Size=1000; Connect TimeOut=300" providerName="System.Data.SqlClient" />
    <add name ="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" providerName="System.Data.OleDb"/>
    <add name ="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="50000000" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>
